[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clawlendar = {git = "https://github.com/Hosuke/Clawlender.git", ref = "main", extras = ["api", "lunar", "extra-calendars", "metaphysics"]}

[requires]
python_version = "3.12"
